/* main css */

.topnav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
    margin: 10vh 10vh 10vh 10vh;
    font-size: 0;
    position: absolute;
    height: 10vh;
    top: 0;
    left: 0;
    width: 90vw;
    border-radius: 1vw 1vw 0 0;
    border-right: 0.2vw solid rgba(0, 0, 0, 0.60);
}
a:link, a:visited {
    color: white;
    background-color: transparent;
}
a:hover, a.active {
    color: rgba(0, 0, 0, 0.65);
    background-color: white;
}
a {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    font-size: 2.8vw;
    display: inline-block;
    text-decoration: none;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.65)
}
.maincontent {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.50);
    margin: 20vh 10vh 0 10vh;
    top: 0;
    left: 0;
    position: absolute;
    height: 70vh;
    width: 90vw;
    border-radius: 0 0 0.2vw 0.2vw;
    border-right: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
body {
    margin: 0;
}
.background {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../img/city.jpg)
}
h1 {
    font-size: 5vw;
}
p {
    font-size: 2vw;
}

/* homepage css */

.frontimage img{
    position: center;
    width: 20vw;
    height: auto;
}

/*about me css */

.profileimage img{
    text-align: left;
    width: 20vw;
    height: auto;
    margin: 7.5% 4% auto;
    border-radius: 60vw;
    border: 0.2vw solid rgb(0, 0, 0);
    float: left; 
}
.aboutmemain {
    text-align: left;
    position: absolute;
    left: 30%;
    margin:7.5% -1%;
}
.aboutmemain ul {
    font-size: 2.5vw;
}
.headli {
    font-size: 170%;
}
.normalli li:before {
    content:"✔";
}

/* navigatie css */

.navigationbar {
    float: left;
    background-color: rgba(0, 0, 0, 0.50);
    margin: 0vw;
    padding: 5vw 3vw 0 3vw;
    line-height: 3.85vw;
}
.pmotivation {
    text-align: left;
    margin: 2%;
}
.loadingimg {
    margin: 9vw;
    border: 2px solid black;
}